.left_align {
    float: left;
    margin-right: 100%;
}
h2 {
    margin-left: 165px;
}
.picture {
    width: 400px; 
    height: 150px;
}
.margin_left {
    margin-left: 8px;
    margin-top: 320px;
}
.pre_training {
    margin-bottom: 5px;
    margin-top: 10px;
}
.first_training {
    margin-bottom: 5px;
    margin-top: 2px;
}
.error_ms {
    width: 300px;
}
tr:nth-child(odd){
    background-color: #80ba2436
  }
  tr:nth-child(even){
    background-color: #80ba240a
  }
th {
    background-color: #80ba24;
    text-align: center;
  }
.table_container {
    width: 100%;
    overflow-x: auto;
}
td:first-of-type {
    text-align: center;
}
  